<app-list-toolbar
  title="{{ 'varieties' | translate | uppercaseFirst }}">
</app-list-toolbar>

<mat-action-list @listAnimation *ngIf="plants$ | async as plants">
  <div @listItemAnimation *ngFor="let plant of plants">
    <div mat-subheader class="ellipsis">{{ plant.name }} - {{ plant.family }} {{ plant.genus }} {{ plant.species }}</div>
    <div @listItemAnimation *ngFor="let variety of getPlantVarieties(plant) | async">

      <button mat-list-item (press)="onItemPress(variety)">
        <span matListIcon class="avatar" [style.background-color]="plant.color">{{ variety.name | slice:0:2 }}</span>
        <span matLine>{{ plant.name }} {{ variety.name }}</span>
      </button>

    </div>
    <mat-divider></mat-divider>
  </div>
</mat-action-list>

<button mat-fab class="fixed-add-fab-button" color="warn" (click)="onAddClick()">
  <mat-icon>add</mat-icon>
</button>